.m-button {
	position: relative;
	width: 8rem;
	aspect-ratio: 1;
	border-radius: 50%;
	box-shadow: var(--shadow-3d-inner);
	&--minus {
		background: var(--c-rojo-sol);
	}
	&--plus {
		background: var(--c-verde-cactus);
	}
	&__inner {
		position: absolute;
		inset: 20%;
		border-radius: 50%;
		border: 2px solid #ece4cd;
		background: inherit;
		box-shadow: var(--shadow-3d-inner), 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
		&:active {
			box-shadow: var(--shadow-3d-inner--presed);
		}
	}
	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
