.m-button {
	position: relative;
	width: 100%;
	min-width: 5rem;
	aspect-ratio: 1;
	border-radius: 50%;
	box-shadow: var(--shadow-3d-inner);
	&--minus {
		background: var(--c-accent-negative);
	}
	&--plus {
		background: var(--c-accent-positive);
	}
	&__inner {
		position: absolute;
		inset: 20%;
		border-radius: 50%;
		border: 2px solid var(--c-neutral-separator);
		background: inherit;
		box-shadow: var(--shadow-3d-inner), var(--shadow-3d-bottom-right-outer);
	}
	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
