.m-separator {
	width: 100%;
	flex: 1 1 0.25rem;
	min-height: 0.25rem;
	border-radius: 4px;
	background: var(--dark-grey-yellow, #ece4cd);
	box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25), var(--shadow-3d-inner-S);
}
