.m-watch {
	position: relative;
	width: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
	background: #eae1cd;
	box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.05),
		-1px -1px 4px 2px rgba(0, 0, 0, 0.25) inset;
	&__circle {
		position: absolute;
		border-radius: 50%;
		inset: 12%;
		&--medium {
			border: 2px solid #f9f5e3;
			background: #e5dbc9;
			box-shadow: var(--shadow-3d-inner);
		}
		&--inner {
			background: linear-gradient(
				147deg,
				#fff6eb 7.46%,
				rgba(255, 246, 235, 0) 90.46%
			);
			box-shadow: var(--shadow-3d-inner);
		}
	}
	&__numbers {
		position: absolute;
		inset: 0;
		border-radius: 50%;
		& > span {
			position: absolute;
			transform: rotate(calc(30deg * var(--i)));
			inset: 2.5%;
			text-align: center;
			& > p {
				transform: rotate(calc(-30deg * var(--i)));
				display: inline-block;
			}
		}
	}
	&__counter {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 2em;
		text-align: center;
		background: none;
		-moz-appearance: textfield;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
	&__segundero,
	&__minutero {
		position: absolute;
		inset: 6%;
		transform: rotate(calc(6deg * var(--i)));

		border-radius: 1rem;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
			box-shadow: var(--shadow-3d-inner);
		}
	}
	&__segundero::after {
		background-color: var(--c-verde-cactus);
	}
	&__minutero::after {
		background-color: var(--c-rojo-sol);
	}
}
