.m-watch {
	position: relative;
	width: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
	background: var(--c-watch-outer);
	box-shadow: var(--shadow-3d-top-left-outer), var(--shadow-3d-inner);
	overflow: hidden;
	&__circle {
		position: absolute;
		border-radius: 50%;
		inset: 12%;
		&--medium {
			border: 2px solid var(--c-watch-border);
			background: var(--c-watch-medium);
			box-shadow: var(--shadow-3d-inner);
		}
		&--inner {
			background: linear-gradient(
				147deg,
				var(--c-watch-inner-top) 7.46%,
				var(--c-watch-inner-bottom) 90.46%
			);
			box-shadow: var(--shadow-3d-inner);
		}
	}
	&__numbers {
		position: absolute;
		inset: 0;
		border-radius: 50%;
		&__item {
			position: absolute;
			transform: rotate(calc(30deg * var(--i)));
			inset: 2.5%;
			text-align: center;
			& > p {
				transform: rotate(calc(-30deg * var(--i)));
				display: inline-block;
			}
		}
	}
	&__counter {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 2em;
		text-align: center;
		background: none;
		-moz-appearance: textfield;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
	&__segundero,
	&__minutero {
		position: absolute;
		inset: 6%;
		transform: rotate(calc(6deg * var(--i)));

		border-radius: 1rem;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
			box-shadow: var(--shadow-3d-inner);
		}
	}
	&__segundero {
		transition: transform 1s linear;
		&::after {
			background-color: var(--c-accent-positive);
		}
	}
	&__minutero {
		transition: transform 0.5s linear;
		&::after {
			background-color: var(--c-accent-negative);
		}
	}
}
