@font-face {
	font-family: "open sans";
	src: url(../fonts/opensans/OpenSans-SemiBold.ttf);
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: "open sans";
	src: url(../fonts/opensans/OpenSans-Regular.ttf);
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "digital number";
	src: url(../fonts/digitalnumbers/DigitalNumbers-Regular.ttf);
	font-weight: 400;
	font-display: swap;
}
.f-normal {
	font-family: "open sans", sans-serif;
	line-height: 1.2;
	font-style: normal;
	color: var(--c-black);
}
.f-digital {
	font-family: "digital number";
	font-style: normal;
	line-height: 1.2;
	color: var(--c-black);
}
.f {
	&--semibold {
		font-weight: 600;
	}
	&--regular {
		font-weight: 400;
	}
}
.f {
	&--18 {
		font-size: 18px;
	}
	&--24 {
		font-size: 24px;
	}
	&--32 {
		font-size: 32px;
	}
	&--48 {
		font-size: 48px;
	}
}
