.main-section {
	width: 100%;
	max-width: 37.5rem;
	padding-inline: clamp(1.5rem, 6%, 2rem);
	padding-block: 0;
	box-shadow: 0px 94px 37px -32px rgba(59, 85, 94, 0.25),
		0px 64px 49px -32px rgba(59, 85, 94, 0.79),
		0px 25px 24px 13px rgba(59, 85, 94, 0.25);
	&__head {
		display: flex;
		padding-block: 2.5rem;
		align-items: center;
		justify-content: space-between;
	}
	&__timer {
		padding-block: 2.5rem;
	}
	&__info {
		&__subsection {
			padding-block: 2.5rem;
		}
	}
}
.subsection {
	&__icon {
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
		justify-content: center;
		margin-bottom: 32px;
	}
	&__body {
		& > :not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		position: relative;
		&__right {
			margin-left: auto;
		}
	}
}

@media (min-width: 1000px) {
}
