.main-section {
	width: 100%;
	overflow: hidden;
	max-width: 37.5rem;
	padding-inline: clamp(1.5rem, 6%, 2rem);
	padding-block: 0;
	box-shadow: var(--shadow-main);
	&__head {
		display: flex;
		padding-block: 2.5rem;
		align-items: center;
		justify-content: space-between;
	}
	&__timer {
		padding-block: 2.5rem;
	}
	&__info {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		&__subsection {
			width: 100%;
			padding-block: 2.5rem;
		}
	}
}
.subsection {
	&__icon {
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
		justify-content: center;
		margin-bottom: 32px;
	}
	&__body {
		padding: 1rem;
		& > :not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		position: relative;
		&__right {
			margin-left: auto;
		}
	}
}
.footer {
	padding: 1rem;
	& span {
		color: red;
	}
	& a {
		color: rgb(28, 28, 144);
		text-decoration: underline;
	}
}

@media (min-width: 42.5rem) {
	.main-section {
		max-width: min(87.5%, 55.375rem);
		border-radius: 1.25rem;
		&__head {
			flex-direction: column;
			gap: 1.25rem;
			justify-content: space-between;
		}
	}
}

@media (min-width: 62.5rem) {
	.main-section {
		margin-top: 1rem;
		&__head,
		&__timer {
			padding-inline: 4rem;
		}
		&__info {
			flex-wrap: nowrap;
			gap: 1rem;
		}
	}
}
