@use "modules/separator";
@use "modules/hamburguer";
@use "modules/watch";
.m-bg-main {
	background: linear-gradient(
		140deg,
		var(--c-main-bg-soft) 0%,
		var(--c-main-bg-dark) 100%
	);
}
.m-menubar {
	position: relative;
	&__items {
		display: flex;
		position: absolute;
		z-index: 10;
		bottom: -1rem;
		right: 0;
		transform: translate(0, 100%);
		flex-direction: column;
		row-gap: 1rem;
		padding: 1.5rem;
		border-radius: 8px;
		background: linear-gradient(
			147deg,
			var(--c-main-bg-soft) 7.46%,
			var(--c-main-bg-dark) 90.46%
		);
		box-shadow: -1px -1px 4px 2px rgba(0, 0, 0, 0.25) inset;
		opacity: 0;
		visibility: hidden;
		transition: all 200ms;
	}
	&__btn {
		padding: 0.5rem;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			border-radius: 4px;
			background: var(--c-bright-green);
		}
	}
}
.m-timer {
	&__controls {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-inline: 1.5rem;
		margin-bottom: 3rem;
	}
	&__watch {
		margin-bottom: 1.5rem;
	}
}
