.theme-desert {
	--c-body-bg-soft: #c6e2c8;
	--c-body-bg-dark: #97b7a1;
	--c-main-bg-soft: #fff6eb;
	--c-main-bg-dark: #ecdfbd;

	--c-accent-negative: #f4b196;
	--c-accent-positive: #95b049;
	--c-accent-neutral: #33e59d;

	--c-neutral-base: #d9d9d9;
	--c-neutral-high: #e5dbc9;
	--c-neutral-separator: #ece4cd;

	--c-watch-outer: #eae1cd;
	--c-watch-medium: #e5dbc9;
	--c-watch-inner-top: #fff6eb;
	--c-watch-inner-bottom: #ffffff00;
	--c-watch-border: #f9f5e3;
}
.theme-ocean {
	--c-body-bg-soft: #c6e2c8;
	--c-body-bg-dark: #97b7a1;
	--c-main-bg-soft: #dff7ff;
	--c-main-bg-dark: #46d2ff;

	--c-accent-negative: #fff1cd;
	--c-accent-positive: #88e1d1;
	--c-accent-neutral: #33e59d;

	--c-neutral-base: #d9d9d9;
	--c-neutral-high: #e5dbc9;
	--c-neutral-separator: #ece4cd;

	--c-watch-outer: #c2f4ff;
	--c-watch-medium: #ddf9ff;
	--c-watch-inner-top: #c2f4ff;
	--c-watch-inner-bottom: #ffffff00;
	--c-watch-border: #ffffff00;
}
.theme-sunset {
	--c-body-bg-soft: #c6e2c8;
	--c-body-bg-dark: #97b7a1;
	--c-main-bg-soft: #fff6eb;
	--c-main-bg-dark: #ecdfbd;

	--c-accent-negative: #f4b196;
	--c-accent-positive: #95b049;
	--c-accent-neutral: #33e59d;

	--c-neutral-base: #d9d9d9;
	--c-neutral-high: #e5dbc9;
	--c-neutral-separator: #ece4cd;

	--c-watch-outer: #eae1cd;
	--c-watch-medium: #e5dbc9;
	--c-watch-inner-top: #fff6eb;
	--c-watch-inner-bottom: #ffffff00;
	--c-watch-border: #f9f5e3;
}
