:root {
	--c-withe: #fff;
	--c-body-bg-soft: #c6e2c8;
	--c-body-bg-dark: #97b7a1;
	--c-main-bg-soft: #fff6eb;
	--c-main-bg-dark: #ecdfbd;
	--c-rojo-sol: #f4b196;
	--c-bright-green: #33e59d;
	--shadow-3d-inner: -1px -1px 4px 2px rgba(0, 0, 0, 0.25) inset;
	--shadow-3d-inner-S: -1px -1px 2px 1px rgba(0, 0, 0, 0.25) inset;
}
